/* 个人中心/账户设置 */
#right-title {
  padding: 20px 30px;
}

body {
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}

.right-title {
  padding: 15px 20px;
  margin-bottom: 15px;
}

.subjectBody {
  /* background-color: rgb(246, 246, 246); */
  padding-bottom: 20px;
}

.border {
  border: 1px solid #fff
}

.subTitle {
  padding: 28px 0;
  font-size: 14px;
  color: #999;
  margin-left: -5px;
  line-height: 1em;
  margin: 0;
  padding: 15px 0;
}

.hightPoint {
  padding: 15px 0;
}

.modeTitle {
  padding-bottom: 5px;
}

.bLeftWrap {
  border-right: 1px solid #ddd;
}

.bgcChoose {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 15px;
  position: relative;
  top: 2px;
  cursor: pointer;
}

.bgc1 {
  background-color: #fff;
}

.bgc2 {
  background-color: rgb(214, 226, 207);
}

.bgc3 {
  background-color: rgb(220, 234, 244);
}

.icon-biao {
  width: 22px;
  height: 22px;
  background-position: -144px -418px;
  cursor: pointer;
  position: relative;
  top: 3px;
  right: 2px;
}

.icon-stop {
  width: 10px;
  height: 12px;
  background-position: -225px -418px;
  cursor: pointer;
  position: relative;
  top: 1px;
}

.timeRe {
  font-size: 20px;
  color: rgb(143, 143, 143);
}

.answerCard {
  background-color: rgb(221, 221, 221);
  padding: 10px;
}

.countTime {
  padding: 15px 15px 5px 15px;
}

.cbnWrap {
  padding: 5px 15px 15px 15px;
  max-height: 300px;
  overflow-y: scroll;
}

.ISpan {
  display: inline-block;
  height: 18px;
  min-width: 32px;
  padding: 0px 3px;
  vertical-align: middle;
  text-align: center;
  line-height: 18px;
  margin-right: 6px;
  position: relative;
  margin-bottom: 5px;
  top: 2px;
  cursor: pointer;
  background-color: rgb(179, 179, 179);
  color: #fff;
}

.unFinishISpan {
  background-color: #fff;
  border: 1px solid #ddd;
  color: rgb(131, 131, 131);
}

.spanMark {
  background-position: -65px -418px;
  cursor: pointer;
}

.spanExplain {
  padding: 10px 20px;
}

.exBtn {
  margin-top: 15px;
  padding: 0 15px;
}

.exBtn>button {
  width: 100%;
}

.pdb20 {
  padding-bottom: 20px;
}

#submitHBtn {
  padding: 2px 7px;
  display: inline-block;
  text-align: center;
  background-color: rgb(76, 155, 228);
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

.notclickn {
  pointer-events: none;
}

.pause,
.restart {
  cursor: pointer;
}

#otherCardWrap {
  margin-top: 10px;
}

.singleL {
  display: none;
}

.contimg {
  margin-left: 10px;
  margin-bottom: 10px;
}

/* 结束 */
.audiosty {
  margin: 10px 0;
}
.audiosty audio{
  width: 100%;
}
audio::-webkit-media-controls {
　　overflow: hidden !important
}
audio::-webkit-media-controls-enclosure {
　　width: calc(100% + 32px);
　　margin-left: auto;
}